* {
	margin: 0;
	padding: 0;
	border: none;
}

/* possible color layouts */
/*
	bg - dark grey #141518

	: SET 1 :
	dark brown - #241909
	light grey - #CAD8DE
	light brown - #645853

	: SET 2 :
	red/crimson #49111C
	white-ish #F2F4F3
	light brown - #A9927D
	mid brown - #5E503F

	: SET 3 :
	brown #3A2618
	tuscan red #754043
	light brown #9A8873
	faded mid green #37423D

	: SET 4 :
	gunmetal #363946
	dim grey #696773
	morning blue #819595
	ash grey #B1B6A6
*/

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	background: #F2F0E7;
}

#page {
	padding: 20px 20px;
	box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}

#wrapper {
	max-width: 960px;
	*width: 960px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a.body, a.body:visited {
	text-decoration: none;
	color: #0364ff;
	font-weight: bold;
}

a.body:hover {
	color: #03a4f6;
}

a.title {
	color: #ffffff;
}

a.title:hover {
	color: #f0aa28;
}

.list {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    background: grey;
    color: white;
	font-size: 16px;
	position: relative;
	min-height: 40px;
    margin: 10px 0px;
    height: 100%;
}

.list:hover {
	background: black;
}

.list-image {
	width: 40px;
    margin-left: 4px;
}

.list-text {
    margin-left: 40px;
}

.vertical-center {
	transform: translateY(-50%);
	position: absolute;
	margin: 0;
	top: 50%;
}

a.list {
	min-height: 40px;
	position: relative;
	color: black;
	display: block;
	list-style-type: none;
	overflow: hidden;
}

a.list:nth-child(odd) {
	background: rgba(0,0,0,0.1);
}

a.list:nth-child(even) {
	background: rgba(0,0,0,0.05);
}

a.list:hover {
	color: #1f1f1f;
	background: #f3f3f3;
}

a.back, a.back:visited {
	display: inline-block;
	padding: 0px 4px 3px;
	background: #395A71;
	color: #ffffff;
}

a.back:hover {
	background: #395A71;
	color: #f0aa28;
}

a.source {
	text-align: left;
	color: grey;
	font-size: 13;
}

p {
	padding: 0 10px;
}

p.source {
	text-align: left;
	color: grey;
	font-size: 16;
}

h1 {
	color: #ffffff;
	background: #395A71;
	font-size: 36px;
	padding: 20px 20px;
	text-align: center;
}

h2 {
	font-size: 21px;
	padding: 0 10px;
	margin: 10px 0 0;
	font-weight: bold;
	text-align: left;
}

h3 {
	font-size: 18px;
	padding: 0 10px;
	margin: 10px 0 0;
	color: #494949;
	font-weight: bold;
	text-align: left;
}

h4 {
	color: #ffffff;
	background: #be0019;
	font-size: 22px;
	padding: 20px 20px;
	margin: 20px 0 0;
	text-align: center;
}

.iframe-container {
	background: black;
	overflow: hidden;
	padding-top: 66.66%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	max-height: 640px;
	max-width: 960px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container-3x2 {
	padding-top: 66.66%;
}

#description {
	min-height: 66px;
}

#line {
	background: #1f1f1f;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#lineSmall {
	background: grey;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#block {
	background: #D8D4C9;
}

#footer {
	font-family: 'Work Sans', sans-serif;
	background: #395A71;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	margin-top: 20px;
	padding: 20px 20px;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #f0aa28;
}

.icon {
	float:left!important;
	margin:4px 16px 0px 8px!important;
}

img.lost {
	height: 100%;
	width: 100%;
	max-height: 640px;
	max-width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.load {
	background: #29abe0;
	color: white;
	font-size: 32;
	font-weight: bold;
	position: absolute;
	height: 60px;
	width: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button.kofi {
	position: relative;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 60px;
	width: 100%;
	max-width: 360px;
	margin: 30px auto;
	background: #29abe0;
}

button.kofi:hover {
	animation: rotate 0.7s ease-in-out both;
}

button.kofi:hover span {
	animation: shake 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(4deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-4deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(2deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

@keyframes shake {
	0% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
	25% {
		transform: translate3d(5px, 0, 0) translateZ(0);
	}
	50% {
		transform: translate3d(-4px, 0, 0) translateZ(0);
	}
	75% {
		transform: translate3d(3px, 0, 0) translateZ(0);
	}
	100% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
}
