* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	padding: 30px 30px;
}

#wrapper {
	max-width: 960px;
	*width: 960px;
	margin: 0 auto;
	text-align: justify;
}

a {
	text-decoration: none;
}

a.title {
	color: #ffffff;
}

a.title:hover {
	color: #f0aa28;
}

a.list {
	color: black;
}

a.list:hover {
	color: red;
}

a.back {
	text-decoration: none;
	display: inline-block;
	padding: 6px 11px;
	background-color: #1f1f1f;
	color: white;
}

a.back:hover {
	background-color: #f0aa28;
	color: black;
}

p {
	padding: 0 10px;
}

p.body {
	text-align: justify;
}

p.source {
	text-align: left;
	color: grey;
	font-size: 16;
}

a.source::before {
	content:attr(href);
}

a.source {
	text-align: left;
	color: grey;
	font-size: 13;
}

h1 {
	color: #ffffff;
	background-color: #1f1f1f;
	font-size: 36px;
	padding: 20px 20px;
	text-align: center;
}

h2 {
	font-size: 21px;
	padding: 0 10px;
	margin: 10px 0 0;
	font-weight: bold;
}

h3 {
	font-size: 17px;
	padding: 0 10px;
	margin: 10px 0 0;
	color: #494949;
	font-weight: normal;
}

h4 {
	color: #ffffff;
	background-color: #be0019;
	font-size: 22px;
	padding: 20px 20px;
	margin: 20px 0 0;
	text-align: center;
}

ul#header {
	margin-top: 20px;
}

ul li {
	display: block;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 40px;
}

ul li:hover {
	background-color: #f3f3f3;
}

ul li:nth-child(odd) {
	background: #e6e6e6;
}

ul li:nth-child(even) {
	background: #d6d6d6;
}

.iframe-container {
	overflow: hidden;
	padding-top: 66.66%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	max-height: 640px;
	max-width: 960px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container-3x2 {
	padding-top: 66.66%;
}

#line {
	background-color: #1f1f1f;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#footer {
	font-family: 'Work Sans', sans-serif;
	background-color: #1f1f1f;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	margin-top: 20px;
	padding: 20px 20px;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #f0aa28;
}

button {
	position: relative;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 60px;
	width: 360px;
	margin: 30px auto;
	background-color: #29abe0;
}

button:hover {
	animation: rotate 0.7s ease-in-out both;
}

button:hover span {
	animation: shake 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(4deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-4deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(2deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

@keyframes shake {
	0% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
	25% {
		transform: translate3d(5px, 0, 0) translateZ(0);
	}
	50% {
		transform: translate3d(-4px, 0, 0) translateZ(0);
	}
	75% {
		transform: translate3d(3px, 0, 0) translateZ(0);
	}
	100% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
}
