/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/WorkSans-Regular.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/WorkSans-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	color: #000000;
}

body#left {
	text-align: left;
}

body#left #wrapper {
	margin: 0 20px;
}

#wrapper {
	max-width: 960px;
	*width: 960px;
	margin: 0 auto;
	text-align: left;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: 10px;
}

a {
	text-decoration: none;
}

a.title {
	color: #ffffff;
}

a.title:hover {
	color: #f0aa28;
}

a.list {
	color: black;
}

a.list:hover {
	color: red;
}

h1 {
	font-family: 'Work Sans', sans-serif;
	color: #ffffff;
	background-color: #1f1f1f;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px;
	text-align: center;
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 21px;
	padding: 0 10px;
	margin: 10px 0 0;
	font-weight: bold;
}

h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
	padding: 0 10px;
	margin: 10px 0 0;
	color: #494949;
	font-weight: normal;
}

h4 {
	font-family: 'Work Sans', sans-serif;
	color: #ffffff;
	background-color: #be0019;
	font-size: 22px;
	padding: 20px 20px;
	margin: 20px 0 0;
	text-align: center;
}

ul#header {
	margin-top: 20px;
}

ul li {
	display: block;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 40px;
}

ul li:hover {
	background-color: #f3f3f3;
}

ul li:nth-child(odd) {
	background: #e6e6e6;
}

ul li:nth-child(even) {
	background: #d6d6d6;
}

#footer {
	font-family: 'Work Sans', sans-serif;
	background-color: #1f1f1f;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #f0aa28;
}



/* ul#header li {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

ul#header li:hover {
	background-color: transparent;
}

ul#header li * {
	color: #000000;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}

ul#header li a:hover {
	color: #666666;
}

ul#header li .asc span, ul#header li .desc span {
	padding-right: 15px;
	background-position: right center;
	background-repeat: no-repeat;
}

ul li.item {
	border-top: 1px solid #f3f3f3;
}

ul li.item:first-child {
	border-top: none;
}

ul li.item .name {
	color: #003399;
	font-weight: bold;
}

ul li.item .name:hover {
	color: #0066cc;
}

ul li.item a:hover {
	text-decoration: underline;
}

ul li.item .directory, ul li.item .file {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
} */
