body {
    background: #141518;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FCBA04;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: #fcba04;
}

a:hover {
    font-weight: bold;
}

.disclaimer {
    background: white;
    padding: 20px;
    text-align: left;
    font-weight: bold;
}

#wrapper {
    max-width: 1920px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.CodeMirror {
    height: 480px;
}

.column-left {
    float: left;
    width: 44%;
    padding-right: 10px;
}

.column-right {
    float: left;
    width: 54%;
    max-width: 960px;
}

.iframe-container {
    padding-top: 66.66%;
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    max-height: 640px;
    max-width: 960px;
    left: 0;
    top: 0;
    border: 0;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    display: block;
    color: #FCBA04;
    text-align: center;
    margin: 20px;
}