<h2>Contact</h2>
<p>
    If you'd like to learn more about me or my work, visit my other site: <a href="https://www.erantanen.com/">www.erantanen.com</a>.<br><br>
    I'm active in the Solar2D community on the <a href="https://forums.solar2d.com/" target="_blank" rel="nofollow">forums</a> and <a href="https://discord.gg/WMtCemc" target="_blank" rel="nofollow">Discord</a>. I'm also an active game jammer and have participated in both <a href="https://ldjam.com/users/xedur/games" target="_blank" rel="nofollow">Ludum Dare</a> and <a href="https://globalgamejam.org/users/xedur" target="_blank" rel="nofollow">Global Game Jam</a>.<br><br>
    You can also reach me directly via email: <a href="mailto:eetu@erantanen.com">eetu@erantanen.com</a>.
</p>