<span class="anchor" id="contact"></span>
<h2>Contact<a class="heading-link" href="#contact" aria-label="Copy link to section"><svg viewBox="0 0 24 24"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg></a></h2>
<p>
    If you'd like to learn more about me or my work, visit my other site: <a href="https://www.erantanen.com/">www.erantanen.com</a>.<br><br>
    I'm active in the Solar2D community on the <a href="https://forums.solar2d.com/" target="_blank" rel="nofollow">forums</a> and <a href="https://discord.gg/WMtCemc" target="_blank" rel="nofollow">Discord</a>. I'm also an active game jammer and have participated in both <a href="https://ldjam.com/users/xedur/games" target="_blank" rel="nofollow">Ludum Dare</a> and <a href="https://globalgamejam.org/users/xedur" target="_blank" rel="nofollow">Global Game Jam</a>.<br><br>
    You can also reach me directly via email: <a href="mailto:eetu@erantanen.com">eetu@erantanen.com</a>.
</p>