<div class="content after-header">

    <div class="segment center">
        <a class="anchor" id="me"></a>

        <h1>Hello!</h1>
        <p>
            My name is Eetu Rantanen, but online I often go by XeduR.<br><br>

            I'm a game designer and full stack developer with over 10 years of professional experience designing and programming games,
            applications and websites of all kinds. I also have extensive experience working with data, from end-to-end data pipelines to analytics.
            Between 2018 and 2023, I was a visiting lecturer of business mathematics and statistics at Estonian Business School in Helsinki.<br><br>

            I'm a jack of all trades who gets excited about all types of game, software, and data projects. On this site, you'll find interactive
            online demos for many of the passion projects I've created over the years. Most of them are game-related, and the source code for most
            is publicly available on my <a href="https://github.com/XeduR">GitHub profile</a> under the MIT License.
            None of my client work is showcased here.<br><br>

            You don't need to credit me for using any of my projects, but I'm always happy to hear when they've been useful to someone.
        </p>

        <div id="line"></div>
        {{contact}}
    </div>

    {{games}}

    <div class="divider center"></div>

    <div class="segment learn center">
        <a class="anchor" id="learn"></a>
        <h2>Roso Games / Learn Solar2D<a class="heading-link" href="#learn" aria-label="Copy link to section"><svg viewBox="0 0 24 24"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg></a></h2>
        <p>
            I'm also involved with <a href="https://www.rosogames.fi" target="_blank">Roso Games</a>, which is a free, remote game development project where beginners learn to build and publish games together using <a href="https://solar2d.com" target="_blank">Solar2D</a> and Lua. It's run by the Finnish non-profit Kukunori ry and has already shipped several titles on <a href="https://rosogames.itch.io/" target="_blank">Itch.io</a>.<br><br>
            The project is currently only available in Finnish, but we are working on expanding it globally and open sourcing the learning materials so that anyone can pick up game development, Lua programming, and the Solar2D engine.
        </p>
    </div>

    <div class="divider center"></div>

    {{solar2d}}

    {{other}}

    <div class="segment center">
        <div id="line"></div>
        {{contact}}
    </div>
</div>
