<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="HTML5 demo projects">
		<meta name="keywords" content="XeduR, Spyric, Solar2D, Solar, 2D, HTML5, Lua, gamedev, game, game development">
		<meta name="author" content="Eetu Rantanen">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
		<link rel="stylesheet" href="/css/styles.css">
		<title>XeduR - Portfolio</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$('#header').load("/html/header.html");
				$('#button').load("/html/button.html");
				$('#footer').load("/html/footer.html");
			});

			var demo, path;
			var url = window.location.href;
			var n = url.indexOf("?");
			if (n !== -1) {
				demo = url.substr(n+1);
				path = "/demos/" + demo + "/info.json";
				document.title = "XeduR - " + demo
			} else {
				document.title = "XeduR - Are you lost?"
			}
		</script>
	</head>

	<body>
		<div id="wrapper">
			<div id="header"></div>

			<div id="block">
				<div id="line"></div>
				<h2 id="title"></h2>
				<div id="lineSmall"></div>
				<div id="description"></div>
				<div id="line"></div>
				<h3>Links:</h3>
				<div id="lineSmall"></div>
				<ul id="links"></ul>
				<div id="line"></div>
			</div>

			<div id="wrongWay"></div>
			<div id="button"></div>
			<div id="frame" class="iframe-container">
				<iframe id="app" src="about:blank"></iframe>
				<button id="startButton" class="load" type="button">Run the app</button>
			</div>

			<script>
				function noDemo() {
					document.getElementById("title").innerHTML = '<a class="back" href="https://xedur.com">&#8592;</a>&nbsp;&nbsp;' + "There's nothing here.";
					document.getElementById("description").innerHTML = '<img src="/img/lost.png" alt="icon" class="icon" style="width:64px">' + "Seems like you took a wrong turn somewhere.";
					document.getElementById("links").innerHTML = '<a class="list" href="https://xedur.com"><li><div class="verticalCenter"><img src="/img/link.png" alt="icon" class="icon" style="width:32px">Return to Homepage</div></li></a>';
					document.getElementById("wrongWay").innerHTML = '<a href="https://xedur.com"><img class="lost" alt="Wrong way!" src="/img/wrong_way_TEMP.jpg" width="640" height="453"></a>';
					document.getElementById("button").style.display = "none";
					document.getElementById("frame").style.display = "none";
				}

				if (!demo) {
					noDemo();
				} else {
					$.ajax({
						url: path,
						type: "HEAD",
						error: function() {
							noDemo();
						},
						success: function() {
							$.getJSON( path, function(json) {
								document.getElementById("title").innerHTML = '<a class="back" href="https://xedur.com">&#8592;</a>&nbsp;&nbsp;' + json.title;
								document.getElementById("description").innerHTML = '<img src="/demos/' + demo + '/icon.png" alt="icon" class="icon" style="width:64px"><p>' + json.description + '</p>';

								var links = "";
								for (var i = 0; i < json.links.length; i++) {
									links += '<a class="list" href="' + json.links[i].link + '"><li><div class="verticalCenter"><img src="/demos/link/icon.png" alt="icon" class="icon" style="width:32px">' + json.links[i].text + '</div></li></a>';
								}
								document.getElementById("links").innerHTML = links;

								$("button").click(function() {
									const $iframe = $("#app");
									const $but = $(this);
									$iframe.on("load",function() {
										$but.hide();
										})
									$iframe.attr("src", "/demos/" + demo + "/app/index.html" );
								});
							});
						}
					});
				}
			</script>

			<noscript><h4>JavaScript disabled. You must enable JavaScript to run the demo projects.</h4></noscript>
			<div id="footer"></div>
		</div>
	</body>
</html>
