<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="HTML5 demo projects">
		<meta name="keywords" content="XeduR, Spyric, HTML5, Lua, Solar, Solar2D, 2D, gamedev">
		<meta name="author" content="Eetu Rantanen">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
		<link rel="stylesheet" href="/css/styles.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$('#header').load("/html/header.html");
				$('#button').load("/html/button.html");
				// $('#iframe').load("/html/iframe.html");
				$('#footer').load("/html/footer.html");
			});

			var demo;
			var url = window.location.href;
			var n = url.indexOf("?");
			if (n !== -1) {
				var target = url.substr(n+1)
				console.log( "Let's load: " + target );
				var path ="/demos/" + target + "/info.json"
				// var path ="./" + target + "/info.json"
				console.log( path );

				$.getJSON( "https://xedur.com/demos/test/info.json", function(json) {
					demo = json;
				    console.log(json);
				});
			}
		</script>

		<style>
			/* Testing darkmode */
			@media screen and (prefers-color-scheme: dark) {
				body {
					background: grey;
					/* color: black; */
				}
			}
		</style>

		<title>XeduR's Dev Stuff</title>
	</head>

	<body>
		<div id="wrapper">
			<div id="header"></div>

			<div id="block">
				<div id="line"></div>
					<h2>
						<a class="back" href="https://xedur.com">&#8592;</a>&nbsp;&nbsp;
						PROJECT TITLE
					</h2>
					<div id="lineSmall"></div>
					<div id="description">
						<img src="icon_temp.png" alt="icon" class="icon" style="width:64px">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique neque id ante vulputate, ut blandit libero consequat.
							Praesent sodales sagittis magna in gravida. Suspendisse eu molestie dolor. Integer eu dignissim diam, quis luctus felis.
							Aliquam congue felis vitae dolor imperdiet pharetra. Donec eu libero at elit rhoncus molestie. Quisque interdum nisl purus.
							Mauris tortor justo, commodo a blandit a, viverra eget nulla. Aenean quis lacinia purus. Quisque ultrices semper ante vel volutpat.
						</p>
					</div>
				<div id="line"></div>
				<ul>
					<a class="list" href="https://www.spyric.com/docs/">
						<li>
							Documentation available at: <b>Spyric Docs</b>
						</li>
					</a>
					<a class="list" href="https://github.com/XeduR/">
						<li>
							Source available at: <b>GitHub</b>
						</li>
					</a>
				</ul>
				<div id="line"></div>
			</div>

			<div id="button"></div>

			<div class="iframe-container">
				<iframe id="myiFrame" src="about:blank"></iframe>
				<!-- <iframe id="myiFrame" data-src="app/index.html" src="about:blank"></iframe> -->
				<button class="load" type="button">Start The Demo</button>
			</div>

			<script>
				if (demo) {
					console.log( demo.title )
					console.log( demo.description )

					$("button").click(function() {
						const $iframe = $("#myiFrame");
						const $but = $(this);
						$iframe.on("load",function() {
							$but.hide();
							})
						$iframe.attr("src", "/demos/" + demo + "/index.html" );
						// $iframe.attr("src", $iframe.data("src"));
					});
				} else {
					console.log( "target demo not found" )
				}
			</script>

			<noscript><h4>JavaScript disabled. You must enable JavaScript to run the demo projects.</h4></noscript>
			<!-- <div id="iframe"></div> -->
			<div id="footer"></div>
		</div>
	</body>
</html>
