#wrapper {
	max-width: 960px;
	*width: 960px;
	margin: 0 auto;
	text-align: justify;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	padding: 30px 30px;
	background: #F2F0E7;
}

p {
	padding: 0 10px;
}


h1 {
	color: #ffffff;
	background: #395A71;
	font-size: 36px;
	padding: 20px 20px;
	text-align: center;
}

h2 {
	font-size: 21px;
	padding: 0 10px;
	margin: 10px 0 0;
	font-weight: bold;
}

h3 {
	font-size: 17px;
	padding: 0 10px;
	margin: 10px 0 0;
	color: #494949;
	font-weight: normal;
}

h4 {
	color: #ffffff;
	background: #be0019;
	font-size: 22px;
	padding: 20px 20px;
	margin: 20px 0 0;
	text-align: center;
}

button {
	background: blue;
	color: white;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	font-size: 24;
}

button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
